

html{
  scroll-behavior: smooth;
}

body{
  background: #070707;
  color:white;
}

/*formulaire de demandes*/
.fields{
  border-radius: 15px 0px;
  border: 3px solid #A200FF;
  box-shadow: 0px 4px 4px 0px rgba(248, 247, 247, 0.07);
}

.soumettre{
  border-radius: 15px;
  background: #A200FF;
}


/*pour le footer*/
.ligne{
  background: rgba(237, 11, 92, 0.90);
}


/*pour la mairie*/
.choice-bouton{
  border-radius: 25px;
  background: #FFF;
  backdrop-filter: blur(13.51388931274414px);
}

.card-choice{
  border-radius: 25px;
  background: #FFF;
  backdrop-filter: blur(13.51388931274414px);
}

/** Styles pour les pages dont l'acces aau balise fonctionne et non avec les classe **/
ol {
    flex-direction: row;
    text-align: center;
    display: flex;
    justify-content: center;
}