.main{
    margin: 2% 5% 5% 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Arial Rounded MT";
}

.main form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.main input, .main select{
    height: 10%;
    margin-top: 8%;
    padding: 4%;
    border-radius: 15px 0px;
    border: 3px solid #A200FF;
    box-shadow: 0px 4px 4px 0px rgba(248, 247, 247, 0.07);
    background: transparent;
    color: white;
}

.main select option{
    color: black;
    font-size: medium;
}


.btn{
    padding: 3.5%;
    color: white;
    margin-top: 5%;
    padding-left: 8%;
    padding-right: 8%;
    border: none;
    border-radius: 15px;
    background: #A200FF;
}