.footer{
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
    margin-bottom: 5%;
    font-family: "Arial Rounded MT";
}

.title3{
    margin-bottom: 20%;
}

.title3 span{
    padding-bottom: 5%;
    border-bottom: solid  #BE1B56;
}

.sec{
    display: flex;
    flex-direction: column;
}

.sec a{
    color: #FFF;
    text-decoration: none;
}

.secUtile{
    display:flex;
    flex-direction: column;
    width: 12%;
}

.icons{
    display: flex;
    justify-content: space-around;
}