.header{
    margin-top: 3%;
    font-family: "Arial Rounded MT";
    font-weight: 500;
    margin-left: 5%;
    margin-right: 5%;
}

.logo{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.logo svg{
    margin-right: 1.5%;
}